include LICENSE CHANGELOG.md README.rst
recursive-include treasuremap/static *.js *.css *.png *.eot *.svg *.ttf *.woff
recursive-include treasuremap/templates *.html
recursive-include treasuremap/locale *.mo
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
